@import "tailwindcss";
#root {
  margin: 0 auto;
  text-align: center;
}


@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.2s ease-out;
}
